
/*= Home ====================== */

/** Home >> Uagb block 5c5fbe4d **/
#post-10 .uagb-block-5c5fbe4d {
	background-color: rgb(255, 250, 242) !important;
}

/** Home >> Uagb block 00c2cdc9 **/
#post-10 .uagb-block-00c2cdc9 {
	background-color: rgb(255, 250, 242) !important;
}

/** Home >> Ast container **/
#content .ast-container {
	background-color: rgb(255, 250, 242) !important;
	background-image: linear-gradient(transparent, rgb(255, 250, 242)) !important;
	width: 100% !important;
}

/** Home >> Uagb container inner blocks wrap **/
.uagb-block-03e49796 .uagb-container-inner-blocks-wrap {
	background-color: rgb(255, 255, 255) !important;
}

/** Home >> Uagb block 7153a5df **/
#post-10 .uagb-block-7153a5df {
	border-top-color: rgb(255, 250, 242) !important;
}

/** Home >> Uagb block accc44e7 **/
#post-10 .uagb-block-accc44e7 {
	background-color: rgb(255, 250, 242) !important;
}

